html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  position: relative;
  background-color: #cabdb2;
  font-family: 'Dosis', sans-serif;
  font-size: 1.125rem;
  width: 23rem;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  padding: .4em .75em .3em;
  margin: 0 0 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #dcd4cd;
  color: #512200;
  border-style: solid;
  border-color: #9a816d;
  border-radius: 8px;
  border-width: 3px;
  font-weight: bold;
  list-style-type: none;
}

.link-card strong {
  font-size: 1.5rem;
  display: block;
  text-align: left;
}

.link-card dl {
  font-family: Georgia;
  font-weight: normal;
  text-align: left;
}

.link-card dt {
  display: inline-block;
  width: 5.75em;
  text-align: left;
}

.link-card dd {
  display: inline-block;
  font-style: italic;
  text-align: left;
}

.link-card p {
  font-family: Georgia;
  font-weight: normal;
  text-align: left;
}

footer {
  display: inline-block;
  font-size: 1.25rem;
  text-align: center;
  padding: .25em .75em .5em;
  width: 7em;
  background-color: #785439;
  border-radius: 8px;
  color: #fff;
  font-family: 'Dosis', sans-serif;
}
