html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  position: relative;
  background-color: #f0eee8;
  font-family: Dosis, sans-serif;
  font-size: 1rem;
  width: 20rem;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin: 0 0 1rem;
  text-align: center;
  background-color: #dcd4cd;
  color: #512200;
  border-style: solid;
  border-color: #9a816d;
  border-radius: 8px;
  border-width: 3px;
  font-weight: bold;
  list-style-type: none;
  display: block;
  text-decoration: none;
}

.link-card:hover {
  background: #cabdb2;
}

.link-card h2 {
  font-size: 1.5rem;
  display: block;
  text-align: left;
  font-weight: bold;
  line-height: 1.65rem;
}

.link-card dl {
  font-family: Georgia;
  font-weight: normal;
  text-align: left;
  padding-bottom: 1rem;
  border-color: #9a816d;
  border-bottom-style: solid;
  font-size: .875rem;
}

.link-card dt {
  display: inline-block;
  width: 45%;
  text-align: left;
}

.link-card dd {
  display: inline-block;
  font-style: italic;
  text-align: left;
  margin: 0;
}

.link-card p {
  font-family: Georgia;
  font-weight: normal;
  text-align: left;
  border-color: #9a816d;
  border-bottom-style: solid;
  padding-bottom: 1rem;
}

.link-card span {
  display: inline-block;
  font-size: 1.125rem;
  text-align: center;
  padding: .35em .75em .5em;
  background-color: #785439;
  border-radius: 8px;
  color: #fff;
  font-family: Dosis, sans-serif;
}
